<ol id='menu-id-home-0' class='menu menu-level0 show '>
  <li id='menu-item-home-1' class='menu-item '>
    <span class='menu-item-row'><a href='/NativeWebView/' class='menu-link  '><i class='bi bi-house-door' aria-hidden='true'></i> Home</a></span>  </li>
  <li id='menu-item-home-2' class='menu-item '>
    <span class='menu-item-row'><a href='/NativeWebView/articles/' class='menu-link  '><i class='bi bi-book' aria-hidden='true'></i> Docs</a><a href='#menu-id-home-2' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-home-2' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-home-2' class='menu menu-level1 collapse '>
    <li id='menu-item-home-3' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeWebView/articles/getting-started/' class='menu-link  '>Getting Started</a><a href='#menu-id-home-3' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-home-3' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-home-3' class='menu menu-level2 collapse '>
      <li id='menu-item-home-4' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/getting-started/overview/' class='menu-link  '>Overview</a></span>      </li>
      <li id='menu-item-home-5' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/getting-started/installation/' class='menu-link  '>Installation</a></span>      </li>
      <li id='menu-item-home-6' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/getting-started/quickstart/' class='menu-link  '>Quickstart</a></span>      </li>
      <li id='menu-item-home-7' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/getting-started/sample-feature-explorer/' class='menu-link  '>Sample Feature Explorer</a></span>      </li>
    </ol>
    </li>
    <li id='menu-item-home-8' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeWebView/articles/controls/' class='menu-link  '>Controls and Facades</a><a href='#menu-id-home-8' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-home-8' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-home-8' class='menu menu-level2 collapse '>
      <li id='menu-item-home-9' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/controls/nativewebview/' class='menu-link  '>NativeWebView</a></span>      </li>
      <li id='menu-item-home-10' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/controls/nativewebdialog/' class='menu-link  '>NativeWebDialog</a></span>      </li>
      <li id='menu-item-home-11' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/controls/webauthenticationbroker/' class='menu-link  '>WebAuthenticationBroker</a></span>      </li>
    </ol>
    </li>
    <li id='menu-item-home-12' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeWebView/articles/rendering/' class='menu-link  '>Rendering and Interop</a><a href='#menu-id-home-12' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-home-12' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-home-12' class='menu menu-level2 collapse '>
      <li id='menu-item-home-13' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/rendering/render-modes/' class='menu-link  '>Render Modes</a></span>      </li>
      <li id='menu-item-home-14' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/rendering/environment-and-controller-options/' class='menu-link  '>Environment and Controller Options</a></span>      </li>
      <li id='menu-item-home-15' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/rendering/native-handle-interop/' class='menu-link  '>Native Handle Interop</a></span>      </li>
    </ol>
    </li>
    <li id='menu-item-home-16' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeWebView/articles/platforms/' class='menu-link  '>Platforms</a><a href='#menu-id-home-16' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-home-16' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-home-16' class='menu menu-level2 collapse '>
      <li id='menu-item-home-17' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/platforms/windows/' class='menu-link  '>Windows</a></span>      </li>
      <li id='menu-item-home-18' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/platforms/macos/' class='menu-link  '>macOS</a></span>      </li>
      <li id='menu-item-home-19' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/platforms/linux/' class='menu-link  '>Linux</a></span>      </li>
      <li id='menu-item-home-20' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/platforms/ios/' class='menu-link  '>iOS</a></span>      </li>
      <li id='menu-item-home-21' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/platforms/android/' class='menu-link  '>Android</a></span>      </li>
      <li id='menu-item-home-22' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/platforms/browser/' class='menu-link  '>Browser</a></span>      </li>
    </ol>
    </li>
    <li id='menu-item-home-23' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeWebView/articles/diagnostics/' class='menu-link  '>Diagnostics and Operations</a><a href='#menu-id-home-23' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-home-23' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-home-23' class='menu menu-level2 collapse '>
      <li id='menu-item-home-24' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/diagnostics/platform-prerequisites/' class='menu-link  '>Platform Prerequisites</a></span>      </li>
      <li id='menu-item-home-25' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/diagnostics/platform-diagnostics-report/' class='menu-link  '>Platform Diagnostics Report</a></span>      </li>
      <li id='menu-item-home-26' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/diagnostics/ci-and-release/' class='menu-link  '>CI and Release</a></span>      </li>
    </ol>
    </li>
    <li id='menu-item-home-27' class='menu-item '>
      <span class='menu-item-row'><a href='/NativeWebView/articles/reference/' class='menu-link  '>Reference</a><a href='#menu-id-home-27' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-home-27' class='menu-link-show collapsed'></a></span>    <ol id='menu-id-home-27' class='menu menu-level2 collapse '>
      <li id='menu-item-home-28' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/reference/package-layout/' class='menu-link  '>Package Layout</a></span>      </li>
      <li id='menu-item-home-29' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/reference/platform-support-matrix/' class='menu-link  '>Platform Support Matrix</a></span>      </li>
      <li id='menu-item-home-30' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/reference/lunet-docs-pipeline/' class='menu-link  '>Lunet Docs Pipeline</a></span>      </li>
      <li id='menu-item-home-31' class='menu-item '>
        <span class='menu-item-row'><a href='/NativeWebView/articles/reference/license/' class='menu-link  '>License</a></span>      </li>
    </ol>
    </li>
  </ol>
  </li>
  <li id='menu-item-home-32' class='menu-item '>
    <span class='menu-item-row'><a href='/NativeWebView/api/' class='menu-link  '><i class='bi bi-braces' aria-hidden='true'></i> API</a></span>  </li>
</ol>
